<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806665594130-uknk2ic8anb8cnv93j5bnh7j80t59m71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806665594130-uknk2ic8anb8cnv93j5bnh7j80t59m71</string>
	<key>API_KEY</key>
	<string>AIzaSyBXHHkPaJcWTboXIcNhv5jmVp4f_OkOM4I</string>
	<key>GCM_SENDER_ID</key>
	<string>806665594130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hp.life</string>
	<key>PROJECT_ID</key>
	<string>hp-life-c5501</string>
	<key>STORAGE_BUCKET</key>
	<string>hp-life-c5501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806665594130:ios:5a0dbc4f68e40a50b9ffcb</string>
</dict>
</plist>